.container {
    width: 600px;
    margin: 50px auto 0;
}

.container .main {
    display: flex;
    margin-top: 30px;
    border-radius: 5px;
    box-sizing: border-box;
}

.main nav {
    width: 150px;
    display: flex;
    flex-direction: column;
    border: 1px solid #dedede;
}

.main nav .link {
    padding: 15px;
    text-decoration: none;
    color: #333;
    box-sizing: border-box;
}

.main nav .active {
    background-color: #2272b9;
    color: #fff;
}

.main>div {
    flex: 1;
    padding: 15px;
    border: 1px solid #dedede;
    border-left: none;
    box-sizing: border-box;
}