.nav-container {
    display: flex;
    flex-direction: row;
    width: 300px;
    height: 30px;
    margin: 15px 0;
    box-sizing: border-box;
}

.nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    text-decoration: none;
    color: #333;
}
